<app-confirmation-popup></app-confirmation-popup>
<div class="container mt-5">
  <div class="row justify-content-end mb-5">
    <button type="button" class="btn btn-success col-2" (click)="startAddNewQualification()" >+ Qualifikation Anlegen</button>
  </div>
  <table class="table table-bordered bg-white">
    <thead class="table-secondary">
    <th>
      Qualifikation
    </th>
    <th class="text-end">
      Aktion
    </th>
    </thead>
    <tbody>
      @if (addNewQualification) {
        <tr>
          <td>
<!--            <input type="text" [formField]="newQualificationForm.skill" />-->
            <app-combobox [options]="missingQualifications()" (valueChanged)="newSkillInputChanged($event)"/>
          </td>
          <td class="text-end">
            <button type="button" class="btn btn-sm btn-success me-3"
                    (click)="saveNew()">
              <span class="material-icons">save</span>
            </button>
            <button type="button" class="btn btn-sm btn-danger"
                    (click)="cancelNew()">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      }
      @for (qualification of qualifications(); track qualification.id) {
        @if (isEditQualification(qualification)) {
          <tr>
            <td>
              <input type="text" [formField]="qualificationForm.skill" />
            </td>
            <td class="text-end">
              <button type="button" class="btn btn-sm btn-success"
                      (click)="saveEdit()">
                <span class="material-icons">save</span>
              </button>
            </td>
          </tr>
        } @else {
        <tr>
          <td>
            {{qualification.skill}}
          </td>
          <td class="text-end">
            @if (canUpdateQualifications()) {
            <button type="button" class="btn btn-sm btn-warning"
                    (click)="startEdit(qualification)">
              <span class="material-icons">edit</span>
            </button>
            }
            <button type="button" class="btn btn-sm btn-danger ms-3"
                    (click)="openDeletePopup(qualification)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
        }
      }
    </tbody>
  </table>
</div>
