<app-confirmation-popup></app-confirmation-popup>
 <div class="row justify-content-end mb-3">
    <button type="button" class="btn btn-success col-2" (click)="startAddNewQualification()" >+ Qualifikation Anlegen</button>
  </div>
  @if (error != "") {
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="btn-close" (click)="error = '' " aria-label="Close"></button>
    </div>
  }
  <div class="table-responsive">

  <table class="table table-bordered table-striped table-active">
    <thead class="">
    <th>
      Qualifikation
    </th>
    <th>
      <input #searchInput class="" placeholder="Suche..." type="text" (change)="filterQualifications(searchInput.value)" >
    </th>
    <th class="text-end">
      Aktion
    </th>
    </thead>
    <tbody>
      @if (addNewQualification) {
        <tr>
          <td>
            @if (employeeContext()) {
              <app-combobox [options]="missingQualifications()" (valueChanged)="newSkillInputChanged($event)"/>
            } @else {
              <input type="text" [formField]="newQualificationForm.skill"/>
            }
          </td>
          <td></td>
          <td class="text-end">
            <button type="button" class="btn btn-sm btn-success me-3"
                    (click)="saveNew()">
              <span class="material-icons">save</span>
            </button>
            <button type="button" class="btn btn-sm btn-danger"
                    (click)="cancelNew()">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
      }
      @for (qualification of ( filteredQualifications.length != 0 ? filteredQualifications : qualifications()); track qualification.id) {
        @if (isEditQualification(qualification)) {
          <tr>
            <td>
              <input type="text" [formField]="qualificationForm.skill" />
            </td>
            <td></td>
            <td class="text-end">
              <button type="button" class="btn btn-sm btn-success"
                      (click)="saveEdit()">
                <span class="material-icons">save</span>
              </button>
            </td>
          </tr>
        } @else {
        <tr>
          <td>
            {{qualification.skill}}
          </td>
          <td></td>
          <td class="text-end">
            @if (canUpdateQualifications()) {
            <button type="button" class="btn btn-sm btn-warning"
                    (click)="startEdit(qualification)">
              <span class="material-icons">edit</span>
            </button>
            }
            <button type="button" class="btn btn-sm btn-danger ms-3"
                    (click)="openDeletePopup(qualification)">
              <span class="material-icons">delete</span>
            </button>
          </td>
        </tr>
        }
      }
    </tbody>
  </table>
</div>
