@if (visible()) {
  <div class="modal show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ hasConfirmFunction() ? 'Bestätigung' : 'Hinweis' }}</h5>
          <button type="button" class="btn-close" (click)="close()"></button>
        </div>
        <div class="modal-body">
          <p>{{ popUpText }}</p>
        </div>
        <div class="modal-footer">
          @if (hasConfirmFunction()) {
            <button type="button" class="btn btn-outline-secondary" (click)="close()">Nein</button>
            <button type="button" class="btn btn-danger" (click)="confirmAction()">Ja</button>
          } @else {
            <button type="button" class="btn btn-primary" (click)="close()">Ok</button>
          }
        </div>
      </div>
    </div>
  </div>
}
